html, body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

@keyframes menuHover {
    from {background-color: #222;}
    to {background-color: #4286f4;}
}

@font-face {
    font-family: roboto;
    src: url(roboto.ttf);
}


.accordion {
    display: inline-block;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    font-family: roboto;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active, .accordion:hover {
    background-color: #777;
}

.active:after {
    content: '\2796';
}

.main-menu input {
    font-family: roboto;
    display: block;
    color: #fff;
    background: #222;
    border-style: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-menu input:hover {
    animation-name: menuHover;
    animation-duration: 0.4s;
    background-color: #4286f4;
}

.no-display {
    
}

.panel {
    padding: 18px 0px 18px 0px;
    background-color: white;
    max-height: 0;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.single-color-txt {
    display: none;
}

#accordion, #preview {
    display: inline-block;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

#menu li {
    display: inline-block;
    color: #fff;
    margin: 15px 15px;
}

#preview {
    display: inline-block;
    background-color: #fff;
    width: 300px;
    height: 200px;
    justify-content: center;
    border: 1px solid #000;
}

#single-color {
    display: none;
}

#single-hex {
    display: none;
}

#preview-btn {
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: roboto;
}